.idea
.tscache
.tmp
node_modules*
build*
.build*

*.iml
*.log
*.tmp.txt
src/**/*.js
src/**/*.map
src/.baseDir.ts

test/integration/app.js
test/integration/app.js.map
test/integration/app/**/*.js
test/integration/app/**/*.map
test/.integration-build