.idea
.tscache
.tmp
node_modules*
build*
.build*
typings*
!typings.json
ci.pid
coverage*

*.pid
*.iml
*.log
*.tmp.txt
src/**/*.js
src/**/*.map
src/.baseDir.ts
src/ts-framework-build/!.gitkeep
src/ts-framework-build/*

test/integration/app.js
test/integration/app.js.map
test/integration/app/**/*.js
test/integration/app/**/*.map
test/integration/.baseDir.ts
test/.integration-build